.fuel-section__2 {
  text-align: center;
  padding: 40px 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;

    .highlight__2 {
  color: #da7b1d;
      font-weight: bold;
    }
  }

  .subtitle__2 {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
  }

  .logos__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    img {
      width: 100px;
      height: auto;
    }
  }
}


@media (max-width: 500px) {
  .fuel-section__2 {
    h2 {
      font-size: 20px;
    }

    .logos__2 {
      gap: 20px;

      img {
        width: 80px;
      }
    }
  }
}