.uses {
  padding: 60px 20px;
  text-align: center;

  &__title {
    font-size: 28px;
    margin-bottom: 10px;

    span {
      color: #d4a72c;
      font-weight: 700;
    }
  }

  &__subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    width: 360px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s ease;

  

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }

    // &__text {
    
    // }
  }

  &__text {
    background-color: #fff;
    border-top: 3px solid #f5c144;
    padding: 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.4;
  }
}


@media (max-width: 900px) {
  .uses__card {
    width: 300px;
  }
}

@media (max-width: 650px) {
  .uses__cards {
    flex-direction: column;
    align-items: center;
  }

  .uses__card {
    width: 90%;
  }
}
